In [1]:
import numpy as np
import pandas as pd
import sklearn
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
varied = pd.read_csv('varied.csv')
varied.head()

   0  -6.111197213022978  1.4715306174644063
0  1           -7.496654            0.913425
1  2          -10.844898           -7.553523
2  3           -4.543377           -2.135686
3  4           -1.913821           -0.034780
4  5            1.771335            0.634508

In [3]:
varied.tail()

         0  -6.111197213022978  1.4715306174644063
1494  1495           -8.527192           -6.726876
1495  1496           -3.271435            2.243791
1496  1497            1.649903           -0.201178
1497  1498            0.792307            0.608689
1498  1499            1.912263            0.253274

In [5]:
varied.describe()

AttributeError: 'DataFrame' object has no attribute 'summary'